.productContainer {
    display: flex;
    flex-direction: row;                                            
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 20px;
}

.imgStyling {
    width: 120px;
    height: 120px;
}

.textHeader, td {
    padding: 0 50px 0 50px;
}

.textHeader, button {
    margin-top: 30px;
}

.textHeader, p {
    margin-top: 35px;
}

.qtyContainer {
   display: flex;
   flex-direction: row;
}

.qtyContainer, p {
    font-size: large;
}

.minusBtn {
    background-color: red;
    border: none;
    height: 30px;
    width: 30px;
    color: white;
    margin-right: 5px;
}

.plusBtn {
    margin-left: 5px;
    background-color: green;
    border: none;
    height: 30px;
    width: 30px;
    color: white;
}

.textContainer {
    text-align: center;
    margin-top: -100px;
}

.deleteBtn {
    height: 30px;
    margin-top: 60px;
    margin-left: 50px;
    border: none;
    background-color: red;
    color: white;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.deleteAllBtn {
    height: 40px;
    width: 100px;
    border: none;
    background-color: red;
    color: white;
}

.orderBtn {
    margin-left: 5px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: green;
    color: white;

}

.totalContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.totalSumText {
    text-align: center;
}

.totalSum {
    text-align: center;
    margin-top: 0;
}

.emptyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.emptyCheckout {
    margin-right: 20px; 
}

.backToProducts {
    margin-top: 17px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: black;
    color: white;
}