*{
    font-family: 'Ubuntu', sans-serif;
    }
.productCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 50px 300px 50px 300px;
    background-color: white;
    padding: 150px 250px 150px 250px;
}

.imgContainer {
    margin-right: 100px;
}

.infoContainer {
    margin-right: 100px;
    margin-top: -20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantityContainer {
    display: flex;
    flex-direction: row;
}

.inputField {
    border-radius: 5px;
    height: 30px;
}

.submitBtn {
    border-radius: 5px;
    background-color: green;
    margin-left: 5px;
    color: white;
}