.Dropdown { /*  HELA  dropdown*/
    position: absolute;
  }
  
  .showShoppingBag{ /*  STYLING VID ICONEN  dropbtn*/
    padding: 26px;
    border: none;
    cursor: pointer;
    margin-top: -50%;
    font-size: xx-large;
}




/* .shoppinBagTwo{
    padding: 0 3px;

    color: white;
    font-weight: bolder;
    border-radius: 5px;
    position: relative;
    top: -40px;
    left: -25px;
    z-index: 5232323;
} */

.cartList{ /* STYLING PÅ LISTAN SOM SKAPAS dropdown-content*/
border: 1px solid black;
    position: relative;
    font-size: x-small;
    background-color: white;
    display: block;
    width: 300px;
    z-index: 1;
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(white, rgb(221, 221, 221));

}

.picList{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}


.linkBtn{
    position: absolute;
}

/* .deleteAll{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid white;
} */
